
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div>Họ tên : <b>@ViewBag.HoTen</b></div>
<div>Số điện thoại : <b>@ViewBag.SoDienThoai</b></div>
<div>Địa chỉ: <b>@ViewBag.DiaChi</b></div>
<div>Năm thành lập : <b>@ViewBag.NgayThanhLap</b></div>